@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600;700&display=swap");

* {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}
html,
body {
  font-family: Rubik;
  background-color: black;
  color: #fff;
  overflow-x: hidden;
}
a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: grey;
}
ul {
  list-style: none;
}
img {
  width: 100%;
}
.fa-bars{
  display: none !important;
}
.btn {
  display: inline-block;
  background: #fff;
  color: #333;
  min-width: 135px;
  padding: 20px 32px;
  font-size: 15px;
  font-weight: 600;
  line-height: 14px;
  border: none;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  text-transform: uppercase;
}

.btn-cta:hover {
  opacity: 0.8;
}

.btn-outline {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-size: 14px;
}

.btn-outline:hover {
  border-color: #2c385e;
  color: #fff;
}

.legal-text {
  font-size: 10px;
  color: #ccc;
  margin-top: 20px;
}

.sub-link {
  display: block;
}
.sub-text{
  font-size: 25px;
  max-width: 850px;
  margin-top: 25px;
}

.header {
  height: 530px;
  background: url("../img/header.jpg") no-repeat center center / cover;
}

.header nav {
  display: flex;
  justify-content: flex-end;
  padding: 20px 40px;
  letter-spacing: 1px;
  z-index: 2;
  position: relative;
}

.header nav .login-btn {
  cursor: pointer;
  background: none;
  border: none;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
 
}

.header .logo {
  width: 270px;
  margin: 20px 0;
}

.text-xl{
  font-size: 75px;
  font-weight: 700;
  text-transform: capitalize;
}

h4 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 5px;
  color: #00ed82;
}
h3 {
  font-size: 23px;
  font-weight: 400;
  padding: 10px 0;
}

.header .header-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
}

.header .header-text-1 {
  font-size: 22px;
  font-weight: bold;
}

.header .header-text-2 {
  font-size: 18px;
  margin: 25px 0;
}

.header::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 180px;
  z-index: 1;
  background: linear-gradient(180deg,rgba(0,0,0,0.75)15.54%,rgba(0,0,0,0.192) 60.23%, rgba(0,0,0, 8e-5) 100%);
}

/* Sub Header */

.sub-header {
  display: grid;
  grid-template-columns: 2fr 4fr 2fr;
  gap: 60px;
  align-items: center;
  padding: 30px 80px;
  background-image: linear-gradient(
    135deg,
    #231437 0%,
    #2c385e 50%,
    #336e6b 100%
  );
}

.sub-header div:last-child {
  justify-self: end;
  align-self: end;
}

.sub-header div:last-of-type .sub-link {
  text-align: center;
  margin-top: 10px;
  font-size: 11px;
  text-decoration: underline;
  color: #ccc;
}

.sub-header > div:first-of-type .sub-link {
  font-size: 14px;
  color: #ccc;
  text-decoration: underline;
}

/* Categories Section */
.categories{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.categories-text{
  padding: 90px 20px;
}

.categories h4{
  font-size: 17px;
  letter-spacing: 1px;
  
}




.categories .covers{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
  margin-top: 20px;
}

.categories .covers>div{
  height: 500px;
  width: 300px;
  
}

.covers .cover-text{
  text-align: start;
  padding: 20px 30px;
}

.cover-1{
  background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("../img/cover-1.jpg") no-repeat center center / cover;
  
}

.cover-2{
  background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("../img/cover-2.jpg") no-repeat center center / cover;
}
.cover-3{
  background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("../img/cover-3.jpg") no-repeat center center / cover;
}

.cover-4{
  background:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("../img/cover-4.jpg") no-repeat center center / cover;
}

/* Live Section */

.live{
  background-color: #151516;
  padding: 40px;
}

.live-border{
  border:4px solid #00ed82;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 100px 60px;
  
  margin: auto;
  gap: 20px;
}

.live-border h4{
  font-size: 15px;
  font-weight: 600;
}

.chanels-area{
  text-transform: uppercase;
  color: #ccc;
  text-decoration: underline;
  margin-top: 15px;
}

.fa-arrow-down{
  margin-top: 30px;
}

.fa-arrow-down {
  animation: MoveUpDown 2s linear infinite;
  position: relative;
  left: 0;
  top: 10;
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 50px;
  }
}

/* Live Sports */

.live-sports{
  height: 800px;
  background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("../img/live-sports.jpg") no-repeat center center / cover;
  padding: 60px 100px;
  display: flex;
 align-items: center;
 
}


.live-sports .container{
  padding: 60px 100px;
}

.live-sports .nav-bar{
  display: flex;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;

}

.live-sports .nav-bar div{
  margin-right: 30px;
  color: #ccc;
}

.live-sports .nav-bar div:hover {
  opacity: 0.5;
  cursor: pointer;
}

.active{
  color: #fff !important;
  transform: scale(1.2);
  border-bottom: 5px solid #fff;
  padding-bottom: 10px;
}

.live-sports .live-logos img{
  height: 55px;
  width: 55px;
  border: 1px solid white;
  border-radius: 50%;
  background-color: #fff;
  margin-right: 30px;
  margin-bottom: 30px;
}

.live-sports .sub-text{
  width: 65%;
  margin: 40px 0;
  line-height: 1.5;
}

/* Footer */

.footer{
  background-color: #ebedf2;
  color: #333;
}

.footer a{
  color: black;
}

.footer-container{
  max-width: 1100px;
  margin: auto;
  padding: 40px;
}

.footer-list{
  display: flex;
  justify-content: space-between;
}

.footer-list .list-head{
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px;
}

.divider{
  width: 100%;
  height: 3px;
  border-top:1px solid #ccc;
  margin: 30px 0;
}

/* media queries */
@media(max-width:1270px){
  .categories .covers{
    grid-template-columns: repeat(2,1fr);
    gap: 60px;
  }

  .live-sports{
    padding:50px 10px ;
  }
}


@media (max-width: 768px) {
  .login-btn{
    display: none;
  }
  .fa-bars{
    display: block !important;
  }


  .header .logo {
    width: 200px;
  }
  .header-content {
    text-align: center;
    padding: 0 20px;
  }

  .header .header-text-1{
    font-size: 18px;
    margin-bottom: 20px;
  }

  .header .header-text-2{
    display: none;
  }
  .sub-header {
    grid-template-columns: 1fr;
  }
  .sub-header div:last-child {
    justify-self: center;
    align-self: center;
  }

  .sub-header {
    text-align: center;
    gap: 22px;
  }

  .text-xl{
    font-size: 30px;
    font-weight: 900;
    margin-top: 20px;
  }

  .sub-text{
    font-size:17px ;
    font-weight: 300;
    padding: 0 20px;
    line-height: 1.5;
  }

  .categories .covers{
    grid-template-columns: 1fr;
  }

  .live-border{
    padding:50px 60px ;
  }

  /* Live Sectionm */
  .live-sports{
    text-align: center;
    justify-content: center;
    align-items: flex-start;
    padding:30px 20px ;
    background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("../img/live-sports-small.jpg") no-repeat center center / cover;
  }
  .live-sports .container{
    padding: 0;
  }

  .live-sports .live-text-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  
  .live-sports .nav-bar{
   
    margin-left: 20px;
   
  
    
  }

  .live-sports .live-logos img{
    
    margin: 5px 5px;
  }

  .live-sports .sub-text{
   width: 100%;
  }

  .footer-list{
    flex-direction: column;
  }
}


